@UTF-8;

*{
    margin: 0px;
}


header {
    height: 650px;

    background-image: url(Media/background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 

    box-shadow: inset 0px 0px 100px black;

    display: flex;
}

div#gradientBottom{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));

    flex-grow: 1;

    display: flex;
}

div#gradientTop{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));

    flex-grow: 1;
}

#netflix > img{
    max-width: 180px;
    min-width: 120px;

    margin-left: 150px;
}

.text{
    font-family: Arial, Helvetica, sans-serif;
    color: white;

    text-align: center;
}

#mainText{
    font-weight: bolder;
    font-size: 3em;

    max-width: 1500px;

    margin: auto;
    margin-top: 100px;
}

#assineHoje{
    font-size: 1.3em;
    font-weight: bolder;
    margin-top: 20px;
}

#emailText{
    font-size: 1.3em;
    font-weight: bolder;
    margin-top: 30px;
}

header > p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1em;

    text-align: center;
}

div#email{
    text-align: center;

    margin-top: 20px;
}

div#email > input{
    width: 435px;
    height: 50px;

    border-radius: 3px;
    border: 0.5px solid lightgray;

    background: rgba(10, 10, 10, 0.5);

    color: white;
    font-weight: bolder;

}

div#email > button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bolder;

    background-color: red;
    color: white;

    width: 160px;
    height: 60px;

    border-radius: 3px;
    border: 0.5px solid black;

    box-shadow: 0px, 0px, 0px, black;
    margin: auto;
}