@charset "UTF-8";

@media (min-width: 1280px) and (max-width: 1919px) {
  header {
    height: 730px;
  }

  #title-header {
    margin: 150px 150px 0px 150px;

    height: 200px;
  }

  main img {
    min-width: 400px;
    max-width: 40%;
  }

  #tv {
    padding: 100px 10% 70px 10%;
  }

  #tv-text {
    width: 700px;
  }

  #devices {
    padding: 50px 10% 80px 10%;
  }

  #devices-text {
    width: 500px;
  }

  #kids {
    padding: 50px 10% 60px 10%;
  }

  #kids-text {
    width: 480px;
  }

  #mobile-downloads {
    width: 80px 10% 70px 10%;
  }

  #mobile-downloads-text {
    width: 500px;
  }

  #div-questions > ul > li {
    margin: 0px 12%;
    margin-bottom: 9px;
  }

  #phone-number {
    margin-left: 12%;
  }

  #img-languages-footer {
    top: 12%;
    left: 13%;
  }

  #footer-footer > ul {
    margin: 0px 12%;
    margin-bottom: 20px;
  }

  #select-footer {
    margin-left: 12%;
  }

  #netflix-footer {
    margin-left: 12%;
  }
}

@media (min-width: 960px) and (max-width: 1279px) {
  header {
    height: 720px;
  }

  header > nav {
    margin: 0px 1% 0px 1%;
  }

  #title-header {
    margin: 150px 5% 0px 5%;
  }

  main img {
    min-width: 400px;
    max-width: 50%;
  }

  #div-default-plan{
    margin-top: -40px;
  }

  #tv {
    justify-content: space-between;
    padding: 100px 2% 70px 2%;
  }

  #tv-text {
    width: 550px;
  }

  #devices {
    justify-content: space-between;
    padding: 50px 2.5% 80px 2%;
  }

  #devices-text {
    width: 600px;
  }

  #kids {
    justify-content: space-between;
    padding: 50px 2% 60px 2%;
  }

  #kids-text {
    width: 600px;
  }

  #mobile-downloads {
    justify-content: space-between;
    padding: 80px 3% 70px 3%;
  }

  #mobile-downloads-text {
    width: 600px;
  }

  #div-questions > ul > li {
    margin: 0px 3%;
    margin-bottom: 9px;
  }

  #phone-number {
    margin-left: 3%;
  }

  #footer-footer > ul {
    margin: 0px 30px;
    margin-bottom: 20px;
  }

  #img-languages-footer {
    top: 11%;
    left: 4%;
  }

  #select-footer {
    margin-left: 3%;
  }

  #netflix-footer {
    margin-left: 3%;
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  header {
    height: 500px;
  }

  header > nav {
    margin: 8px 2.5% 0px 2.5%;
  }

  #netflix-icon > img {
    width: 110px;
  }

  #title-header {
    font-size: 2em;
    margin: 70px 5% 0px 5%;
  }

  #text-join {
    font-size: 1.1em;
  }

  #text-email {
    font-size: 1.1em;
  }

  #div-default-plan {
    margin-top: 0px;

    background-image: radial-gradient(
      circle at 50% 0%,
      #87112e,
      #87112e,
      #48163f,
      #261948,
      #0d1a4c,
      #000413
    );
  }

  main img {
    margin: 0px auto;
    min-width: auto;
    max-width: 90%;
  }

  #tv {
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
  }

  #tv-text {
    text-align: center;

    margin: 80px 2% 20px 2%;

    width: auto;
  }

  #tv-text > h2 {
    font-size: 2em;
  }

  #tv-text > p {
    font-size: 1.2em;
  }

  #devices {
    flex-direction: column;
    justify-content: space-between;
  }

  #devices-text {
    text-align: center;

    margin: 0 2%;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  #devices-text > h2 {
    font-size: 2em;
  }

  #devices-text > p {
    font-size: 1.2em;
    margin: 0px 2% 30px 2%;
    width: auto;
  }

  #kids {
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 2% 60px 2%;
  }

  #kids-text {
    text-align: center;
    margin: 0px 2% 30px 2%;
    width: auto;
  }

  #kids-text > h2 {
    font-size: 2em;
  }

  #kids-text > p {
    font-size: 1.2em;
  }

  #mobile-downloads {
    flex-direction: column;
    justify-content: space-between;
    padding: 80px 3% 70px 3%;
  }

  #mobile-downloads-text {
    text-align: center;
    margin: 0px 2% 30px 2%;
    width: auto;
  }

  #mobile-downloads-text > h2 {
    font-size: 2em;
  }

  #mobile-downloads-text > p {
    font-size: 1.2em;
  }

  #box{
    width: 70%;
  }

  #box-animation-download{
    max-width: 500px;
    min-width: 300px;
    height: 70px;

    margin: 0px auto;

    right: 15%;
    left: 15%;
  }

  #questions-text {
    font-size: 2em;
  }

  #div-questions > ul > li {
    margin: 0px 30px;
    margin-bottom: 9px;

    height: 70px;
  }

  #div-questions > ul > li::after {
    content: "+";
    font-size: 2em;
  }

  #div-questions > ul > li > h2 {
    font-size: 1.2em;
  }

  #email-title-footer {
    font-size: 1.1em;
  }

  #phone-number {
    margin-left: 3%;
  }

  #footer-footer > ul {
    columns: 2;
    margin: 0px 3%;
    margin-bottom: 20px;
  }

  #img-languages-footer{
    top: 11%;
    left: 4%;
}

  #select-footer {
    margin-left: 3%;
  }

  #netflix-footer {
    margin-left: 3%;
  }
}

@media (min-width: 0px) and (max-width: 599px) {
  header {
    height: auto;
  }

  header > nav {
    margin: 8px 2.5% 0px 2.5%;
  }

  #language-header {
    width: 60px;
  }

  #img-languages {
    top: 18%;
    right: 78%;
  }

  #netflix-icon > img {
    width: 110px;
  }

  #title-header {
    font-size: 2em;
    margin: 50px 5% 0px 5%;
  }

  #text-join {
    font-size: 1.1em;
  }

  #text-email {
    font-size: 1.1em;

    margin: 0px 5%;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  #email-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0px 0px;
  }

  #background-default-plan {
    padding-top: 30px;

    background-color: var(--default-background-main-color);
  }

  #div-default-plan {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    margin: 0px 8%;
    margin-top: 20;
    margin-bottom: 0%;
    padding: 20px;
    padding-top: 40px;

    background-image: radial-gradient(
      circle at 50% 0%,
      #87112e,
      #87112e,
      #48163f,
      #261948,
      #0d1a4c
    );

    width: auto;

    position: unset;
  }

  #div-default-plan-text {
    margin: 0px;
  }

  main img {
    margin: 0px auto;
    min-width: auto;
    max-width: 90%;
  }

  #tv {
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    padding-top: 50px;
  }

  #tv-text {
    text-align: center;

    margin: 0px 2% 20px 2%;

    width: auto;
  }

  #tv-text > h2 {
    font-size: 2em;
  }

  #tv-text > p {
    font-size: 1.2em;
  }

  #devices {
    flex-direction: column;
    justify-content: space-between;
  }

  #devices-text {
    text-align: center;

    margin: 0px 2%;
    margin-top: 15px;
    margin-bottom: 20px;

    width: auto;
  }

  #devices-text > h2 {
    font-size: 2em;
  }

  #devices-text > p {
    font-size: 1.2em;
    margin: 0px 2% 30px 2%;
    width: auto;
  }

  #kids {
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 2% 60px 2%;
  }

  #kids-text {
    text-align: center;
    margin: 0px 2% 30px 2%;
    width: auto;
  }

  #kids-text > h2 {
    font-size: 2em;
  }

  #kids-text > p {
    font-size: 1.2em;
  }

  #mobile-downloads {
    flex-direction: column;
    justify-content: space-between;
    padding: 80px 3% 70px 3%;
  }

  #mobile-downloads-text {
    text-align: center;
    margin: 0px 2% 30px 2%;
    width: auto;
  }

  #mobile-downloads-text > h2 {
    font-size: 2em;
  }

  #mobile-downloads-text > p {
    font-size: 1.2em;
  }

  #box{
    width: 100%;
  }

  #box-animation-download{
    max-width: 500px;
    min-width: 300px;
    height: 65px;

    margin: 0px auto;

    right: 15%;
    left: 15%;
  }

  #questions-text {
    font-size: 2em;
  }

  #div-questions > ul > li {
    margin: 0px 30px;
    margin-bottom: 9px;

    height: 70px;
  }

  #div-questions > ul > li > h2 {
    font-size: 1.2em;
  }

  #email-title-footer {
    font-size: 1.1em;
  }

  #email-footer {
    flex-direction: column;
  }

  #phone-number {
    margin-left: 3%;
  }

  #footer-footer > ul {
    columns: 2;
    margin: 0px 3%;
    margin-bottom: 20px;
  }

  #img-languages-footer{
    top: 11%;
    left: 5%;
}

  #select-footer {
    margin-left: 3%;
  }

  #netflix-footer {
    margin-left: 3%;
  }

  .email-box {
    margin-bottom: 10px;
    width: 65%;
  }
}
