@UTF-8;

:root{
    --default-background-color: #232323;
    --default-button-color: red;
    --default-button-color-onclicked: rgb(196, 0, 0);
    --default-font-color:  white;
    --default-shadow-color: black;
    --default-select-input-color:  #23232380;
    --default-background-main-color: black;
    --default-background-color-button-questions: #2D2D2D;
    --default-background-color-button-questions-onhovered: #414141;
}

*{
    margin: 0px;
    padding: 0px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: var(--default-font-color);

    z-index: 0;
}

body{
    background-color: var(--default-background-color);
}

header{
    display: flex;
    flex-direction: column;
    justify-content: normal;

    background-image: url("../Media/background.jpg");
    background-position: center center;
    background-size: cover;

    text-align: center;

    box-shadow: inset 0px 200px 500px var(--default-shadow-color);

    height: 700px;

    position: relative;
}

/*navbar*/
header > nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/*Ícone da netflix*/
#netflix-icon > img{
    width: 180px;
}

/*Idiomas*/
.select-languages{
    background-color: var(--default-select-input-color);

    text-align: center;
    font-size: 1em;

    border-radius: 5px;

    height: 30px;
    width: 150px;
}

.select-languages:active{
    outline-width: 2px;
    outline-style: solid;
    outline-color: white;
    outline-offset: 3px;
}


/*Button-Entrar*/
#language-login > button{
    background-color: var(--default-button-color);

    border-radius: 5px;
    border-width: 0px;

    height: 30px;
    width: 70px;
}

#language-login> button:hover{
    background-color: var(--default-button-color-onclicked);
}

/*Título pricipal e textos do header*/
#title-header{
    font-size: 3em;
    font-weight: bolder;

    margin: 0px 16%;
    margin-top: 150px;
}

#text-join{
    font-size: 1.5em;

    margin-top: 30px;
}

#text-email{
    font-size: 1.3em;

    margin-top: 30px;
    margin-bottom: 20px;
}

/*Input de email - Header*/
#email-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;

}

.email-box{
    background-color: var(--default-select-input-color);

    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(134, 134, 134);

    padding: 0px 20px;
    height: 50px;
    width: 350px;

    position: relative;
}

.email-box > input{
    background-color: transparent;
    
    border-width: 0px;

    padding-top: 25px;

    height: 25px;
    width: 345px;
}

.email-box > input:enabled{
   border-width: 0px; 
   outline-width: 0px;
}

.email-box > label{
    position: absolute;

    top: 17px;
}

.email-box:active{
    outline-width: 2px;
    outline-style: solid;
    outline-offset: 2px;
    outline-color: var(--default-font-color);

    label{
        font-size: 0.8em;

        position: absolute;
        top: 5px;
    }
}

/*Button do email - Header*/
.email-button{
    background-color: var(--default-button-color);

    font-size: 1.2em;
    font-weight: bold;

    border-radius: 3px;
    border-width: 0px;

    margin-left: 10px;

    height: 50px;
    width: 150px;
}

.email-button:hover{
    background-color: var(--default-button-color-onclicked);
}

/*Sombra na parte inferior do header*/
#div-shadow{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);

    height: 100%;
    width: 100%;

    position: absolute;

    z-index: -1;
}

/*Plano padrão destacado*/
#div-default-plan{
    display: flex;
    justify-content: center;
    align-items: start;

    background-image: radial-gradient(circle at 50% -150%, #87112E, #671437, #671437,#5D153A,#48163F,#261948,#0D1A4C,#060E2D,#000413);

    margin-top: -65px;

    min-height: 130px;
    max-height: 500px;

    position: absolute;
    right: 60px;
    left: 60px;

    z-index: 2;
}

#div-default-plan-text{
    margin-left: 100px;

    height: 100%;

}

#div-default-plan-text > h2{
    font-size: 1.3em;
    font-weight: bolder;

    margin-top: 20px;
}

#div-default-plan-text > p{
    font-weight: bolder; 

    margin-top: 10px;
}

#div-default-plan-text > a{
    display: block;

    font-size: 1.1em;
    font-weight: bolder;
    color: #448ED6;

    margin-top: 10px;
}
/*para todas as imagens dentro de main, porque vão seguir o mesmo padrão*/

main img{
    align-self: flex-start;

    min-width: 400px;
    max-width: 31%;
}
/*tv - main*/
#tv{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 7px;
    padding-top: 100px;
    padding-bottom: 70px;

    background-color: var(--default-background-main-color);
}

#tv-text{
    width: 500px;

}

#tv-text > h2{
    font-size: 3em;
    font-weight: bolder;

    margin-bottom: 20px;
}

#tv-text > p{
    font-size: 1.5em;
}

/*devices*/
#devices{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    margin-bottom: 7px;
    padding-top: 50px;
    padding-bottom: 80px;

    background-color: var(--default-background-main-color);
}

#devices-text{
    width: 600px;
}

#devices-text > h2{
    font-size: 3em;
    font-weight: bolder;

    margin-bottom: 20px;
}

#devices-text > p{
    font-size: 1.5em;
}

/*kids*/

#kids{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-bottom: 7px;
    padding-top: 50px;
    padding-bottom: 60px;

    background-color: var(--default-background-main-color);
}

#kids-text{
    width: 570px;
}

#kids-text > h2{
    font-size: 3em;
    font-weight: bolder;

    margin-bottom: 20px;
}

#kids-text > p{
    font-size: 1.5em;
}

#mobile-downloads{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    margin-bottom: 7px;
    padding-top: 80px;
    padding-bottom: 70px;

    background-color: var(--default-background-main-color);
}

#mobile-downloads-text{
    width: 600px;
}

#mobile-downloads-text > h2{
    font-size: 3em;
    font-weight: bolder;

    margin-bottom: 20px;
}

#mobile-downloads-text > p{
    font-size: 1.5em;
    
}

/*Perguntas - footer*/
#div-questions{
    display: flex;
    flex-direction: column;
    

    padding-top: 80px;
    padding-bottom: 50px;

    background-color: var(--default-background-main-color);
}

#questions-text{
    text-align: center;

    font-size: 3em;
    font-weight: bolder;

    margin-bottom: 20px;
}

#div-questions > ul{
    list-style: none;

    padding-left: 0px;
}

#div-questions > ul > li{
    display: flex;
    align-items: center;

    margin: 0px 19%;
    margin-bottom: 9px;
    padding: 0px 20px;

    height: 85px;

    background-color: var(--default-background-color-button-questions);
}

#div-questions > ul > li:hover{
    background-color: var(--default-background-color-button-questions-onhovered);
}

#div-questions > ul > li::after{
    content: "+";

    flex: 1;

    text-align: end;

    font-family: 'Times New Roman', Times, serif;
    font-size: 3.5em;
}

#div-questions > ul > li > h2{
    text-align: left;
}

#div-questions

.div-option{
    display: none;
}

/*email -footer*/

#email-title-footer{
    text-align: center;

    font-size: 1.3em;
    background-color: var(--default-background-main-color);
}

#email-footer{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 7px;
    padding-top: 20px;
    padding-bottom: 70px;

    background-color: var(--default-background-main-color);
}

/*Footer do footer kkkk*/
#footer-footer{
    padding-top: 50px;

    background-color: var(--default-background-main-color);
}

#phone-number{
    margin-bottom: 20px;
    margin-left: 20%;
}

#footer-footer > ul {    
    list-style: none;
    columns: 4;

    margin: 0px 20%;
    margin-bottom: 20px;
    padding-left: 0px;
}

#footer-footer > ul > li{
    font-size: 0.9em;
    margin-bottom: 20px;
}

#select-footer{
    margin-bottom: 20px;
    margin-left: 20%;
}

#netflix-footer{
    margin-bottom: 40px;
    margin-left: 20%;
}

#creditos{
    background-color: #0D1A4C;
    text-align: center;

    mar
}


