@UTF-8;

*{
    margin: 0px;
}

body{
    background-color: #232323;
    min-width: 350px;
}

root{
}


header {
    height: 700px;

    background-image: url(../Media/background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 

    box-shadow: inset 0px 0px 100px black;

    display: flex;
}

nav{
    position: absolute;

    top: 0;
    right: 0;
    left: 0;
}

.LanguageSelect{
    width: 120px;
    height: 30px;

    border-width: 1px;
    border-style: double;
    border-color: white;

    border-radius: 2px;

    color: white;
}

#select-header{
    position: absolute;

    top: 30px;
    right: 260px;

    background-color: rgba(0, 0, 0, .3);

}

nav > button{
    position: absolute;
    right: 170px;
    top: 27px;

    height: 35px;
    width: 70px;
    background-color: red;
    color: white;

    border-radius: 5px;
    border-width: 0px;


}

div#gradientBottom{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2));

    flex-grow: 1;

    display: flex;
}

div#gradientTop{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));

    flex-grow: 1;

    display: grid;
    
    
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

#netflix > img{
    width: 180px;

    margin-left: 150px;
}

.text{
    font-family: Arial, Helvetica, sans-serif;
    color: white;

    text-align: center;
}

#mainText{
    font-weight: bolder;
    font-size: 3em;

    max-width: 1500px;
    min-width: 500px;

    margin: 10% 0px auto auto;
}

#assineHoje{
    font-size: 1.3em;
    font-weight: bolder;
    margin-top: 20px;
}

#emailText{
    font-size: 1.3em;
    font-weight: bolder;
    margin-top: 30px;
}

header > p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1em;

    text-align: center;
}

div.email{
    text-align: center;

    margin-top: 20px;
}

div.email > input{

    width: 435px;
    height: 50px;

    border-radius: 3px;
    border: 0.5px solid lightgray;

    background: rgba(10, 10, 10, 0.5);

    color: white;
    font-weight: bolder;

    padding-left: 20px;

}

.email > input::placeholder{
    font-size: 1.3em;

    position: absolute;

    left: 20px;
}


div.email > button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bolder;

    background-color: red;
    color: white;

    width: 160px;
    height: 60px;

    border-radius: 3px;
    border: 0.5px solid black;

    box-shadow: 0px, 0px, 0px, black;
    margin-top: 0px;
    padding-bottom: 6px;
}

#DivDefaultPlan{
    background-image: radial-gradient(circle at 50% 15%, #86102D, #86102D, #2E1846,#0C1746, #000413);

    height: 150px;

    position: absolute;
    right: 80px;
    left: 80px;

    margin-top: -75px;

}

#PlanBlockPosition{
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;

}

#DivDefaultPlan > #PlanBlockPosition > h2{
    font-size: 1.2em;
    text-align: left;
    margin: 30px auto 0px auto;
}

#DivDefaultPlan > #PlanBlockPosition > p{
    margin: 10px auto 0px auto;
    text-align: left;
}

#DivDefaultPlan > #PlanBlockPosition > a{
    font-size: 1.2em;
    color: dodgerblue;
    text-align: left;
    display: block;
    margin: 10px auto 0px 0px;
}


